doctype html
html
	head
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
	body.wrapper
		.container
			header
				.row.header
					.col-md-3.logo
					.col-md-3
					.col-md-3
					.col-md-3
					
			block content
